---
layout: page
title: blog
description: a collection of research-related blog posts.
nav: false
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<style>
  .post {
    margin-left: 0%;
    width: 100%;
    max-width: auto;
  }

  .post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Changed to 1fr for more flexibility */
    grid-gap: 20px;
  }

  .post-list li {
    background-color: var(--global-card-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  /* Adjusted breakpoint and added a medium screen size breakpoint */
  @media (max-width: 768px) {
    .post-list {
      grid-template-columns: 1fr; /* 1 column taking full width for narrow screens */
    }
  }

  .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; /* Fixed height */
  background-color: white; /* White background for padding */
  overflow: hidden;
  border-radius: 10px; /* Moved border-radius here */
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0; /* Removed border-radius from image */
}
</style>
  
  <!-- page.html -->
<div class="post">
  {% if site.display_tags %}
  <div class="tag-list">
    <ul class="p-0 m-0">
      {% for tag in site.display_tags %}
        <li>
          <i class="fas fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">{{ tag }}</a>
        </li>
        {% unless forloop.last %}
          <p>&bull;</p>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <!-- Determine the correct URL for the link -->
        {% assign post_url = post.redirect != blank ? post.redirect : post.url %}
        
        <!-- Wrap the entire content with an <a> tag -->
        <a href="{{ post_url | prepend: site.baseurl }}" class="post-link">
          <h4>{{ post.title }}</h4>
  
          {% if post.image %}
          <div class="image-container">
            <img class="post-image" src="{{ post.image | prepend: '/assets/blog_heads/' }}" alt="{{ post.title }}">
          </div>
          {% endif %}
  
          <p>{{ post.description }}</p>
          <p class="post-meta">
            {{ post.read_time }} min read &nbsp; &middot; &nbsp;
            {{ post.date | date: '%B %-d, %Y' }}
            {%- if post.external_source %}
            &nbsp; &middot; &nbsp; {{ post.external_source }}
            {%- endif %}
          </p>

      <p class="post-tags">
        <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}">
          <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>

          {% if tags != "" %}
            {% for tag in post.tags %}
            <a href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
              <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a>
              {% endfor %}
          {% endif %}

          {% if categories != "" %}
            {% for category in post.categories %}
            <a href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
              <i class="fas fa-tag fa-sm"></i> {{ category }}</a>
              {% endfor %}
          {% endif %}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>

  {% include pagination.html %}

</div>
