---
layout: page
title: blog
description: a collection of research-related blog posts
nav: false
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<style>
  .post {
  margin-left: 0%;
  width: 100%;
  max-width: auto;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 50%); /* 2 columns for larger screens */
  grid-gap: 20px;
}

.post-list li {
  background-color: var(--global-card-bg-color); /* Sets the individual post background color */
  border-radius: 10px; /* Rounds the corners of the individual post */
  padding: 20px; /* Pads the inside of the individual post */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for individual post */
}

  /* For small screens, switch to a single column */
  @media (max-width: 360px) {
    .post-list {
      grid-template-columns: 1fr; /* 1 column taking full width */
    }
  }

  .post-list li h3 {
  font-size: 24px; /* This sets the font size to 16 pixels */
  font-weight: 300; /* This sets the font weight to 300 */
  text-align: center;
  }




  .image-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

  .post-image {
  width: 90%; /* Makes the image take the full width of its container */
  height: auto; /* Maintains the aspect ratio of the image */
  max-height: 40%;
  border-radius: 10px; /* Optional: if you want to match the border radius of the box */
  margin-top: 10px; /* Optional: if you want to add space between the image and the text */
  margin-bottom: 15px;
}

  </style>
  
  <!-- page.html -->
<div class="post">
  {% if site.display_tags %}
  <div class="tag-list">
    <ul class="p-0 m-0">
      {% for tag in site.display_tags %}
        <li>
          <i class="fas fa-hashtag fa-sm"></i> <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">{{ tag }}</a>
        </li>
        {% unless forloop.last %}
          <p>&bull;</p>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <!-- Determine the correct URL for the link -->
        {% assign post_url = post.redirect != blank ? post.redirect : post.url %}
        
        <!-- Wrap the entire content with an <a> tag -->
        <a href="{{ post_url | prepend: site.baseurl }}" class="post-link">
          <h3>{{ post.title }}</h3>
  
          {% if post.image %}
          <div class="image-container">
            <img class="post-image" src="{{ post.image | prepend: '/assets/blog_heads/' }}" alt="{{ post.title }}">
          </div>
          {% endif %}
  
          <p>{{ post.description }}</p>
          <p class="post-meta">
            {{ post.read_time }} min read &nbsp; &middot; &nbsp;
            {{ post.date | date: '%B %-d, %Y' }}
            {%- if post.external_source %}
            &nbsp; &middot; &nbsp; {{ post.external_source }}
            {%- endif %}
          </p>

      <p class="post-tags">
        <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}">
          <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>

          {% if tags != "" %}
          &nbsp; &middot; &nbsp;
            {% for tag in post.tags %}
            <a href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
              <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
              {% endfor %}
          {% endif %}

          {% if categories != "" %}
          &nbsp; &middot; &nbsp;
            {% for category in post.categories %}
            <a href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
              <i class="fas fa-tag fa-sm"></i> {{ category }}</a> &nbsp;
              {% endfor %}
          {% endif %}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>

  {% include pagination.html %}

</div>
